/* Global Style */
:root {
    font-size: 16px;
    --blue: #57C4E5;
    --yellow: #FFBF46;
    --green: #59A96A;
    --pink: #F97068;
    --textColor: #212738;
}

body {
    background-color: white;
    color: var(--textColor);
    font-family: 'Asap Condensed', sans-serif;
    margin: 0px;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--blue);
}

h1 {
    font-size: 3rem;
    margin:auto;
}

h2 {
    font-size: 2.5rem;
    margin:auto;
    font-style: italic;
}

h3 {
    font-size: 1.5rem;
    margin:auto;
}

h5 {
    font-size: 1rem;
    margin:auto;
}

p {
    font-size: 1.25rem;
    margin: auto;
    line-height: 2rem;
}

.btn {
    background-color: var(--green);
    color: var(--textColor);
    padding: .5rem 2rem;
    border-radius: 10px;
    display: inline-block;
}

/* Nav Style*/
nav {
    width: calc(100%);
    background-color: var(--textColor);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 100;
}

nav img {
    height: 35px;
}

nav ul {
    display: flex;
    gap: 4rem;
    color: var(--blue);
    list-style-type: none;
    font-weight: lighter;
    padding: 0px 300px;
}

.contactus .btn {
    background-color: white;
}

.contactus {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 80px;
}

.contactus .info {
    font-size: 1.5rem;
}

.contacts .title {
    color: var(--textColor);
    margin-bottom: 20px;
    margin-top: 100px;
}

.contacts {
    margin-left: 20px;
    margin-bottom: 50px;
}

.contacts .hours {
    display: flex;
}

.contacts .hours .map {
    margin-right: 450px;
    display: inline;
}

.contacts .hours .map img {
    height: 450px;
    width: 800px;
}

.contacts .hours .days div {
    display: flex;
    margin: 0px;
    margin-bottom: 35px;
    margin-top: 15px;
}

.contacts .hours .days {
    display: inline;
}

.contacts .hours .map p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacts .hours .days .monday h5 {
    margin: 0px;
    padding-right: 500px;
}

.contacts .hours .days .tuesday h5 {
    margin: 0px;
}

.contacts .hours .days .wednesday h5 {
    margin: 0px;
}

.contacts .hours .days .thursday h5 {
    margin: 0px;
}

.contacts .hours .days .friday h5 {
    margin: 0px;
}

.contacts .hours .days .saturday h5 {
    margin: 0px;
}

.contacts .hours .days .sunday h5 {
    margin: 0px;
}

.contacts .hours .days .monday p {
    margin: 0px;
}

.contacts .hours .days .tuesday p {
    margin: 0px;
}

.contacts .hours .days .wednesday p {
    margin: 0px;
}

.contacts .hours .days .thursday p {
    margin: 0px;
}

.contacts .hours .days .friday p {
    margin: 0px;
}

.contacts .hours .days .saturday p {
    margin: 0px;
}

.contacts .hours .days .sunday p {
    margin: 0px;
}

.contacts .hours .days div  {
    justify-content: space-between;
}

/* footer */
.foot {
background-color: var(--textColor);
color: var(--blue);
display: flex;
}

.foot div {
    justify-content: space-between;
    margin: 30px;
}

.foot .contactfoot {
    margin-right: 800px;
}

@media screen and (max-width: 980px) {
    nav#mobileMenu {
        padding: 10px 15px;
        display: flex;
        width: calc(100% - 30px);
    }

    h1 {
        font-size: 3rem ;
    }

    h2 {
        font-size: 3rem;
    }

    a {
        font-size: 1.5rem;
    }

    nav ul {
        gap: 2rem;
        padding-left: 45px;
        padding-right: 0px;
    }

    nav ul a {
        font-size: 1.25rem;
    }

    .contacts .contactus div p {
        font-size: .75rem;
    }

    .contacts .contactus div .btn {
        font-size: 1.25rem;
    }

    .contacts .hours {
        display: inline;
        flex-wrap: wrap;
    }

    .contacts .hours .map {
        margin-right: 60px;
    }

    .contacts .hours .map img {
        max-width: 500px;
        max-height: 275px;
        margin-top: 100px;
    }

    iframe {
        margin-left: 220px;
        margin-top: 50px;
    }

    .contacts .hours .map p {
        font-size: .75rem;
        margin-bottom: 50px;
    }

    .contacts .hours .days div {
        padding-left: 40px;
        padding-right: 50px;
        padding-top: 30px;
    }

    .contacts .hours .days h5 {
        font-size: 1.75rem;
    }

    .contacts .hours .days .monday h5 {
        margin: 0px;
        padding-right: 175px;
    }

    .foot {
        justify-content: space-between;
        margin-top: 175px;
    }

    .foot .contactfoot {
        margin-right: 0px;
    }
}
